#majorInfo {
    position: absolute;
    right: 500px;
    width: 500px;
    padding: 8px;
    border: 3px solid red;
}

#imgBox {
    border: 3px solid blue;
    position: absolute;
    left: 20px;
    width: 400px;
    height: 300px;
    padding: 8px;
}

#linkDiv {
    border: 3px solid green;
    position: absolute;
    top: 400px;
    left: 20px;
    width: 400px;
    height: 400px;
    padding: 8px;
}

.card {
    position: absolute;
    right: 20px;
}

.card-title, .card-text {
    color: rgb(246, 255, 0);
}

.card-title {
    position: absolute;
    bottom: 95px;
    right: 150px;
}

.card-text {
    position: absolute;
    bottom: 75px;
    right: 130px;
    font-size: 15px;
}

.cardbtn {
    position: absolute;
    bottom: 50px;
    right: 130px;
}
#navbar{
    background-color: gold;
}